*.h5 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
klassterfork/runs/web/data_common/use_multi/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
